

.container {
  width: 100%;
  max-width: 600px; /* Establece el ancho máximo que deseas para la vista en teléfonos */
  margin: 0 auto; /* Centra el contenido en la página */
}

/* Media query para teléfonos */
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%; /* Ajusta el ancho máximo para adaptarse a la pantalla del teléfono */
    padding: 10px; /* Agrega un poco de espacio alrededor del contenido */
  }
}


.row{
  margin-left: 0;
  margin-right: 0;
}

.display{
  
  background-color: white;
  border: 1.5px solid #4a779c;
  vertical-align: top;
  text-align: right;
  border-radius: 10px 10px 20px 10px;
}

.col-md-8{

  border-top: 30px solid #3876a0;
  border-radius: 10px 10px 20px 10px; 
  background-color: white;
 
}
#prueba1{

  border-top: 40px solid #3876a0;
  border-radius: 10px 15px 20px 10px; 
  background-color: white;
 
}
.nombretitular{
  width: 70%;
}
.fecha_nacimientotitular{
  width: 20%;
}
.cedulatitular{
  width: 30%;
}


#cintillo{
  width: 50px;
}
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}

.efa{
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}



label {
  font-size: 14px;
}
.legend{

  width: auto;
  font-size: 16px;
}
.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;
} 

th, td{
	padding: 1px;
  font-size: 14px; 
  text-align: center;
}




.btn-xs{
  padding:0.10rem;


  }

thead{
background-color:   #6a6d6ef8;
	border-bottom: solid 1px #1b7961;
	color: white;
  
}




tr:nth-child(even){
	background-color: #ddd;
}









.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
 

  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}      
 


.modal-header{
  border: 0px;

  }

.modal-footer{

  border: 0px;
}


/* 
*********************************************** */




.sinborder{
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0; 
}








#btnRegresar_hacia_titulares{
 
  position: absolute;
  top:197px;
  left: 662px;
}




input {
  margin: 5.5px;
  left: 10%;
}
/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.legend{

  width: auto;
  font-size: 16px;
}
fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}

.labelfecha{
 
  font-size: 14.5px;
  /* 630 */
}


#fecha_del_dia{
  position: absolute;
  top: -0px;
  left:800px; 

}


.labelfechamgeneral{
 
  font-size:14.5px;
}
#fecha_asistencia_mgeneral{
  font-size:14.5px; 

}



.label_1ra_conslulta{

  font-size: 14.5px;
/* 630 */
}

#fecha_1ra_consulta{
 
}

.labelfechaconsulta{
  position: absolute;
  top: 150px;
  left:630px; 

}
#fecha_asist{
 

}



.titulo_psicologia{
  position: absolute;
  top:-30px;
  
  color: rgb(247, 239, 239); 
}

.titulo_mgeneral{
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top:-30px;

  color: rgb(247, 239, 239); 
}


#fecha_creacion{
  position: absolute;
  top:0px;
  left:800px; 
}







#motivo_consulta {
  position: relative;
  top: 7px;
  width: auto;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_mi {
  position: relative;
  top: 7px;
  width: 440px;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_pp {
  position: relative;
  top: 7px;
  width: 440px;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
#motivo_consulta_GB {
  position: relative;
  top: 7px;
  width: 50%;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 0px solid rgb(124, 123, 123);
  background-color: rgb(252, 251, 251);
  outline: none;
  font-size: 13px;
  left: -4px;
}
  
#aciones_Psicol {
  font-size: 12px;
}


.labelimpresiond{
font-size: 14px;
  }
  .btn-xs{
    padding:0.10rem;
    }

 

  *{
    margin:0;
    padding:0;
    font-family:sans-serif;
}

input[type=text]{ 
  font-size: 14px;
  } 

.btnagregar{
  position: absolute;
  left: 140px;
  font-size:11px;
  top: 415px;

}

.btnagregar_psi{
 
  font-size:11px;
}

.textarea {
  width: 20px;
  height: 33px;
}

#btnagregar_enfermedad_actual{
  position: absolute;
  left: 180px;
  font-size:11px;
  top: 500px;

}

.observacion{
 
  width: 465px;
  height: 100px;
  background-color: white;
  
}

.observacion:focus{
  
 
  flex-direction:column;
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;

}
.span{
  font-size: 12px;
}

#motivo_consulta{
  width: 50%;
  height: 26px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(124, 123, 123);
  background-color:rgb(250, 246, 246);
  outline: none; 
  font-size: 13px;
}
select {

  /* styling */
  background-color: white;
  border: thin solid rgb(127, 127, 133);

  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 0.9em;
  padding: 0.9em 1.3em 0.2em 0.3em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



/* arrows */

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(218, 218, 231) 50%),
    linear-gradient(135deg, rgb(209, 209, 226) 50%, transparent 50%),
    linear-gradient(to right, rgb(46, 141, 219), rgb(120, 154, 216));
  background-position:
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 10px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, rgb(42, 150, 117), rgb(42, 150, 117));
  background-position:
    calc(103% - 15px) 1em,
    calc(103% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}




select.round {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(128, 128, 128) 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    4px 4px,
    4px 4px,
    1.4em 1.4em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}





select.minimal {
  background-image:
    linear-gradient(44deg, transparent 40%, gray 40%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
#aciones{
  
  font-size: 12.5px;


}
.labelimpresiond{
  font-size: 14px;
  color: #244583;
  top: 352px;
  left: 50px;
  font-size: 13px;
    }
    textarea {
      width: 100%;
      height: 83px;
      color:  rgb(29, 28, 28);
      margin-left: 0px;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid rgb(114, 113, 113);
      outline: none; 
      background-color: white; 
      font-size: 13px;
    }

.texto{
  

  font-size: 13px;
  color: #244583;
}
.cursor{
  width: 100%;
  height: 83px;
} 
.btnActualizar{
 

  font-size:12px;
} 
.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 14px;
  outline: none; 
}

#img_beneficiario{
  position: absolute;
  top: 190px;
  left: 768px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);
 
}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.datos{
  font-size: 14.5px;
}
.bodersueve_fieldset{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  
  font-size: 14px;
  outline: none; 
}
.textimpresiond{
  flex-direction: column;
  top: 16px;
  width: 530px;
  height: 23px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none;

  
}


.texto_PSICO {
 
  font-size: 13px;
  color: #244583;
}

.btnMostrar_PSICO {
 
  font-size: 11px;
  left: 200px;

}
#btnAgregar_signos_gb {

  font-size: 11px;
}


.cursor{

  font-weight: bold;
  color: #3d0e10;
}
.btnMostrar{
 
  left: 240px;
  font-size: 11px;


}

.btnMostrar2{
  position: absolute;
  left: 360px;
  font-size:11px;
  top: 500px;

}

.btnMostrar_mi{
 
  left: 240px;
  font-size:11px;
 

}

.btnMostrar2_mi{
  position: absolute;
  left: 360px;
  font-size:11px;
  top: 595px;

}
.btnMostrar3_mi{
  position: absolute;
  left: 300px;
  font-size:11px;
  top: 595px;

}
.btnAgregar_signos{
  font-size:12px;
} 
#aciones_mi{
 position: relative;
  font-size: 12px;
 top:6px;

}
.btnActualizar_signos{
  font-size:12px;
} 

.texto_mi{

  font-size: 13px;
  color: #244583;
}




.titulo_mgeneral_pp{
  position: absolute;
  top:-30px;
  
  color: rgb(247, 239, 239); 
}
#aciones_pp{
 
  font-size: 12px;
 

}



#img_beneficiario_pp{
  position: absolute;
  top: 70px;
  left: 783px;
  font-size: 13px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgba(71, 71, 71, 0.2);
 
}

.texto_pp{
  
  font-size: 13px;
  color: #244583;
}



.btnMostrar_pp{

  left: 210px;
  font-size:11px;


}

.btnMostrar2_pp{
  position: absolute;
  left: 400px;
  font-size:11px;
  top: 575px;

}




.btnMostrar3_pp{
  position: absolute;
  left: 350px;
  font-size:11px;
  top: 575px;

} 


#aciones_gb{
 
  font-size: 12px;
  

}



.texto_gb{
 
  font-size: 13px;
  color: #244583;
}

.btnMostrar_gb{

  left: 230px;
  font-size:11px;


}

.btnMostrar2_gb{
  position: absolute;
  left: 140px;
  font-size:11px;
  top: 600px;

}
.btnMostrar3_gb{
  position: absolute;
  left: 340px;
  font-size:11px;
  top: 600px;

}
.textarea{
  width: 20px;
  height: 33px;
}
.tamaño{
  font-size: 12px;
 
}

.observacion_gb {
  width: 100%;
  height: 120px;
  color:  rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(209, 207, 207);
  outline: none; 
  background-color: white; 
  font-size: 13px;
}

.label_detalle_historia{
  position: relative;
  top:-30px;
  }
  .detalle_historia{
    height: 70px; 
  }

  #diu{
    position: relative;
   left: 10px;
  }
  #t_cobre{
    position: relative;
   left: 30px;
  }
  #mirena{
    position: relative;
   left: 35px;
  }
  
  #aspiral{
    position: relative;
   left: 32px;
  }
  #i_subdermico{
    position: relative;
   left: 32px;
  }

  .horas{
    text-align: center;
      width: 8%;
      outline: none;
    }
    
    .dias{
      text-align: center;
        outline: none;
      }
    
  