@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

#imagencentral{
  display: none;

}
.form-login_imagen {
  display: none;
  visibility: visible;

}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}

.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
} 


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
tr:nth-child(even){
  background-color: white;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
 
  font-size: 14px;
}   




.modal-header {
border: 0px;
}

.modal-footer{
border: 0px;
}
/* 
*********************************************** */


input[type=text]{
 

  border-radius: 5px 5px 5px 5px;
  font-size: 13px;
  
  outline: none; 
  background-color: white;
  
  } 

  .sinborder{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);

  } 
/* .table{

left: 75%;
margin-left: -70px;
top: 50%;
margin-top: -300px;
} */


.cartelera{
  display:none
}



.btn-xs{
  padding:0.10rem;
  }

  .btn.btn-xs{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .display{
  
    background-color: white;
  }


.input-group {
  position: relative; 
  display: flex;
  align-items: center;
  top:0px;
  width: 100%;
  margin: 0 auto ;
  margin-bottom: 0.5rem; 
}
.input-fill input {
  border: none;
  border-bottom: 3px solid #848f9a;
  width: 100%;
  height: 2.3rem;
  font-size: 14px;
  padding-left: 2rem;
  line-height: 147.6%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
/* ----BORDER DE ABAJO DE LA CAJA--- */
.input-fill input:focus {
  outline: none;
  border-color: #1a53ef;
}
/* --FONFO DE LA CAJA DE TEXTO AL MOVER EL MOUSE---- */
.input-fill input:hover {
  background-color: #e9ecef;
}



/* --COLOR DEL LABEL DE LA CAJA  ---- */
.input-fill .input-label {
 
  position: absolute;
  top: 5px;
  font-size: 14px;
  line-height: 147.6%;
  color: #777374;
  transition: top 0.2s;
  font-weight: 100;
}

/* --COLOR DEL LABEL DE LA CAJA AL MOVER EL MOUSE ---- */
.input-fill input:focus + .input-label  {
  top: 0;
  margin-bottom: 2rem;
  color: #fafdff;
}

/* --COLOR DEL ESCUDO ORIGINAL ---- */
.input-fill i {
  position: absolute;
  top: 6px;
  left: 5px;
  color: #4c5463;
  font-size: 1.5rem;
}



.login-form a:hover {
  color: #a192b9;
}

.btn-login {
  position: relative;
 
  
  border-radius: 3rem;
  width: 45%;
  border: 1px solid rgb(55, 57, 59);
  line-height: 1.6rem;
  font-size: 1.0rem;
  background-color: rgb(87, 94, 100);
  color: #ffffff;
  padding: 0.1rem 0;
  transition: 0.3s ease-in-out all;
  font-weight: 500;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(10, 47, 82);
}

.tipousuario{
  position: absolute;
  top: -3px;
 
  font-size: 13px;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}

.login-box-msg{
  top: 90px;
  font-size: 20px;
 
}

input[type=text]{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(168, 173, 182);} 

  input[type=password]{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(168, 173, 182);} 