
      .modal { position: fixed; top:3%; left:5%;
      }  
      .modal-content{
        height: 90%;
        width: 110% !important;
        left: -50px;
        background: #a4aab1;
        padding: 20px 30px;
        border-top: 4px solid #017bab;
        color: #313e61;
        border-radius: 20px 10px 50px 30px;
        -webkit-border-radius: 20px 10px 30px 30px;
        -moz-border-radius: 20px 10px 50px 30px;
        border: 7px double;
      }     
  .modal-body {
    width: 100%;
    height: 100%;
  }
  .modal-header {
   
    top:30px;
    right: 0;
    height: 90%;   
  }
       
th, td{
	padding: 15px;
}

thead{
	background-color: #686b6a;
	border-bottom: solid 1px #7d8180;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}  
.modal-footer{
  border: 0px;
}

.pdf{

  position: absolute;
  top: -5px;
  left: -60px;
}
.cantidad{

  position: absolute;
  top: 234px;
  left: 390px;
}

.table{
  
  left: 75%;
  margin-left: -70px;
  top: 50%;
  margin-top: -300px;
}

.labelfecha{

  position: absolute;
  top: 400px;
  left: 20px;
}

.fecha{

  position: absolute;
  top: 2px;
  left: 152px;
}

.cartelera{
  display:none
}
input[type=text]{
 
  background: #fafbfcf8;
	border-radius: 5px;
  border-top: px solid #017bab;
  color: rgb(53, 49, 49);} 

  .labelborrado{

    position: absolute;
    top: 56px;
    left: 7px;
  }
  .borrado{

    position: absolute;
    top: 63px;
    left: 65px;
  }

  .btnExcel{

    position: absolute;
    top: 155px;
    left: 1200px;
  }
  .row{
  
    background-color: white;
  }

  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }

