
.display{
  
  background-color: white;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;

} 


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

tr:nth-child(even){
background-color: #ddd;
}




.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal{
  position: absolute;
  left: 7%;
  align-items: center;



}
.modal-content{
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;

}  

.modal-footer{
border: 0px;
}
/* 
*********************************************** */


input[type=text]{
 
  background: #fafbfcf8;
  border-radius: 5px 5px 5px 5px;
  border: 0px;
 
 } 



th, td {
height: 0%;
} 



.cartelera{
  display:none
}



.btnactivo{
  border: 0;
  border-radius: 10px;
}

.btnbloqueado{
  border: 0;
  border-radius: 10px;
}

.btnAgregar{
  border-radius: 10px;
  /* position: absolute;
  top:10px;
  left: -90px; */
}

.btnRegresar{
  border-radius: 10px;
  /* position: absolute;
  top:10px;
  left: -0px; */
}


.activo{
  position: absolute;
  top:185px;
  left: 40px; }

.form-login_imagen {
  display: none;
  visibility: visible;

}

#imagencentral{
  display: none;
  visibility: visible;
}