.cartelera{
  display:none
}
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.form-login {
    width: 450px;
    height: 600px;
    background: #ebe6e6;
    margin: auto;
    margin-top: 0px;
    /* box-shadow: 7px 13px 37px rgb(157, 211, 248); */
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: rgb(87, 40, 40);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial;
    background-image: url('bg.png');
  }
  
  .display{
  
    background-color: white;
  }
  
 
