


  img {
   
    border-radius: 50%;
    

  }

  #persona{
    display: flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
  }
 
  .modal { 
    position: fixed;  left:7%;
  }  

  .modal-content{
    position:relative;
    border-top: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;

 
  }     
  #imagencentral{
    display: none;
    visibility: visible;
  }
  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }

  .cartelera{
    display:none
 }

