#imagencentral{
  display: none;
  visibility: visible;
}

.form-login_imagen {
  display: none;
  visibility: visible;

}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.cartelera{
  display:none
}


body {
  font-family: arial;
  background-image: url('bg.png');
}

.form-login {
  width: 400px;
  height: 600px;
  background: #ebe6e6;
  margin: auto;
  margin-top: 30px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  color: rgb(87, 40, 40);
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.controls {
  width: 100%;
  border: 1px solid #babfc2;
  margin-bottom: 15px;
  padding: 11px 10px;
  background: #dfd7d7;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 100%;
  height: 40px;
  background: #1f7592;
  border: none;
  color: white;
  margin-bottom: 16px;
}

.form-login p{
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: rgb(87, 44, 44);
  text-decoration: none;
  font-size: 14px;
}

.form-login a:hover {
  text-decoration: underline;
}


.img_center{
  display:flex;
  justify-content: center;
}
input:focus[type=text]{
  
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;
}