  #imagencentral{
  display: none;
  }

  .form-login_imagen {
    display: none;
    visibility: visible;
  
  }
  .modal { 
    position: fixed;  left:7%;
  }  

  .modal-header{
    border: 0px;
  }
   
      .modal-content
      {
        
        margin: 0 auto;
        width: auto;
        height: 490px;
        position:relative;
        border-top: 40px solid #3876a0;
        /* border-bottom: 20px solid #3876a0; */
        border-radius: 10px 10px 10px 10px;
        color: #313e61;
        text-decoration: none;
        font-size: 14px;
       
      }   

      .cartelera{
        display:none
     }
     

  
     .display{
  
      background-color: white;
    }
  
   
     th, td{
      padding: 2px;
      font-size: 13px;
    }
    
    thead{
      color: white;
      font-size: 14px;
    }

tr:nth-child(even){
	background-color: #ddd;
}  
.modal-footer{
  border: 0px;
}


.cantidad{

  position: absolute;
  top: 234px;
  left: 390px;
}

.btn-xs{
  padding:0.10rem;
  }




  


  .btn-xs-xs{
    top: -10px;
    left: auto;
    padding: 0.45rem;
    background-color: rgb(105, 107, 107);
    border-radius: 5px;
    }

.fecha{

  position: absolute;
  top: -33px;
  left:310px;
}

.btnExcel{

  position: absolute;
  top:-3px;
  left: 0px;
}

#pdf{

 
  position: absolute;
  top: -3px;
  left: -100px;
}


.labelcategoria{
  position: absolute;
  top: 25px;
  left: 2px;
}
.cmbCategoria{
  position: absolute;
  top: 20px;
  left: 160px;
}




input[type=text]{
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(168, 173, 182);} 



  .labelborrado{

    position: absolute;
    top: 310px;
    left: 230px;
  }
  .borrado{

    position: absolute;
    top:313px;
    left: 290px;
  }



  .labelcronico_0{

    position: absolute;
    top: 28px;
    left: -120px;
  }
  .cronico_0{
    position: absolute;
    top: 20px;
    left: -47px;
  }


  .labelcronico{

    position: absolute;
    top: 311px;
    left: 37px;
  }
  .cronico{
    position: absolute;
    top: 316px;
    left: 16px;
  }


  .botones{
    display: none;
    position: relative;
    top: 25px;
    left: -15px;
    }
    .medic_cronico{
      display: none;
    }

  /* #btnlimpiar{
    display: none;
  } */



 
  
  .btncompuestos {
   
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 350px;
}

.select2-selection__choice {
  background-color: rgb(216, 210, 210) !important;

  color: rgb(19, 18, 18) !important;
 
} 

.bigdrop {
  width: 600px !important;
}

/* .select2-selection__choice {
  background-color: red !important;
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
  background-image: -webkit-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -moz-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -o-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: -ms-linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  background-image: linear-gradient(top, red 25%, yellow 52%, green 25%, purple 100%) !important;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05) !important;
  color: white !important;
  border: 1px solid #aaaaaa !important;
} */

.form-login h4 {
  
  margin: 0;
  text-align: center;
  width: 450px;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-size: 20px;
}

.modal-body{
  top: -30px;
}


.custom-select{
  font-size: 14px;
  
 }



.vm{
  font-size: 13px;
  
 }

 .btn-warning{
  border: none;
  text-align: center;
  border-radius: 5px;
 }
 .btnsolvente{
  border: none;
  text-align: center;
  border-radius: 5px;
  color: black;
 }