


.usuarios{
  opacity: 0.4;
  display: block;
}
.usuarios:hover {
  display: block;
  cursor: not-allowed;
}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.historial{
  opacity: 0.4;
  display: block;
}
.historial:hover {
  display: block;
  cursor: not-allowed;
}



.reportes{
  opacity: 0.4;
}
.reportes:hover {
  cursor: not-allowed;
}

 .inventario{
 
  opacity: 0.4;
}

.usuarios{
 
  opacity: 0.4;
}
.historial{
 
  opacity: 0.4;
}

.inventario:hover {
  cursor: not-allowed;
} 
.auditoria{
 
  opacity: 0.4;
}
.auditoria:hover {
  cursor: not-allowed;
}



.Entrada:not(:disabled):not(.disabled) {
  cursor: pointer;
  pointer-events: none;
  opacity: 0.4;
}
.form-login_imagen {
  position: relative;
  top: 70px;
  width: 620px;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  box-shadow: 7px 13px 37px rgb(250, 246, 246);
  padding: 20px 20px;
  border-top: 15px solid #017bab;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
}

/* .menu_citas:not(:disabled):not(.disabled) {
  cursor: pointer;
  pointer-events: none;
  opacity: 0.4;
} */

.btn-xs{
  padding: 0.42rem;
}
