@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


.cartelera{
  display:none
}
      .modal { position: fixed; top:3%; left:5%;
    
     
      }  
      .modal-content{
        height: 90%;
        width: 70% !important;
       
        background: #e9e5e5;
      
      
        box-shadow: 7px 13px 37px rgb(26, 23, 23);
        
        border-top: 4px solid #58595a;
        color: rgb(87, 40, 40);
      }     
  
  .modal-dialog {
  
    max-width: 100%;
    height: 90%;
    padding: 0;
  }
  .modal-body {
  
    width: 100%;
    height: 100%;
  
  }
  
  .modal-header {
   
    top:30px;
    right: 0;
    height: 90%;
  
  
      
  
  }
         