/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

.redondeado {
	border-radius: 5px;
  }
  .confondo {
	background-color: #def;
  }
  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  
 
  
  td {
    text-align: left;
  }
  tr {
    text-align: left;
  }
  .label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}


.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}
.display{
  
  background-color: white;
}






.boton{

        width: 450px;
        background-color: #632432;

        }

.panel-default{
	text-align: center;
 margin-top: 0px;
 display: flex;
  align-items: center;
  justify-content: center;

} 
.container{


 margin-top: 20px;
 display: flex;
  align-items: right;
  justify-content: center;  
}


.morbilidad_entes{
  display: block;
  left: 20px;
}


th, td{
	padding: 15px;
}

thead{
	background-color: #686b6a;
	border-bottom: solid 1px #7d8180;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #0f9b9b;
	color: white;
}


.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



