/* Input field */
#bap + .select2 .select2-selection__rendered {  background-color: rgb(243, 243, 232); }

/* Each result */
#select2-bap-results { background-color: rgb(230, 202, 202); }

/* Higlighted (hover) result */
#select2-bap-results .select2-results__option--highlighted { background-color: aqua! important; }

/* Selected option */
#select2-bap-results .select2-results__option[aria-selected=true] { background-color: teal !important; }



/* Around the search field */
.select2-search { background-color: orange; }

/* Search field */
.select2-search input { background-color: pink; }
@media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  