
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}

.btn-xs-xs{
  top: -10px;
    left: auto;
    padding: 0.45rem;
    background-color: rgb(105, 107, 107);
    border-radius: 5px;
  }


.panel-default{
    
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 


.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

/* #container{
  width: 90%;
  max-width: 1024px;
}


body{width:90%;margin: 0 auto 0 auto; min-width:600px;max-width:2000px} */

th, td{
	padding: 2px;
  font-size: 14px;
}

.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 14px;
  outline: none; 
}

thead{

	color: white;
}



.display{
  
  background-color: white;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

     
  
.modal{
  top: 0px;
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}      



/* 
*********************************************** */
input[type=text]{
 
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(168, 173, 182);
 
} 

.conborder{
  outline: none; 

}
  .sinborder{

    background: #fafbfcf8;
    border-radius: 5px 5px 5px 5px;
  border-top: #3876a0;
  border: 0px;
  } 
  
.table{ 
display:auto;
} 
fieldset {

  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}
div {
  margin: .2em 0;
}

.legend{

  width: auto;
  font-size: 16px;
}


/* #n1{
  position: absolute;
  top: -15px;
  left: 200px;
} */
.btnbotones{
  position: absolute;
  top: 73px;
  left: 160x;
}
.nombretitular{
width:80%;
}

.nombreb{
  width:80%;
  }
  .unidadtitular{
    width:44%;
    }

  .radio{
    position: relative;
    top: 0px;
    left: 7px;
  }

  .fecha{
    position: relative;
    top: -10px;
    left: 630px;
  }

  .labelbuscarfecha{
    position: relative;
    top: 22px;
    left: 570px;
  }
  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
  }
  
  .Notas {
 
    font-size: 9px;
    position: relative;
    border: none;
    font-size: x-small;
  
  }
  .Bloquear {
  
    font-size: 5px;
    position: relative;
    border: none;
    font-size: x-small;
  }

  .btn-xs{
    padding:0.12rem;
    }

 
  .r_vencido{
      border: 0px;
    }
    .r_vigente{
      border: 0px;
    }


   
.observacion_reposos {

  width: 100%;
  height: 100px;
  background-color: white;
  color:  rgb(29, 28, 28);
  margin-left: 0px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid rgb(209, 207, 207);
  outline: none; 
  background-color: white; 
  font-size: 13px;
}
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}
.horas{
  text-align: center;
    width: 8%;
    outline: none;
  }
  .dia_en_horas{
    text-align: center;
      width: 6%;
      outline: none;
    }
  

  
  .dias{
    text-align: center;
      outline: none;
    }
  