
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}


#imagencentral{
  display: none;
  visibility: visible;
}
.cartelera{
  display:none
}
.form-login_imagen {
  display: none;
  visibility: visible;

}

.display{
  
  background-color: white;
}


  .label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}













tr:nth-child(even){
	background-color: #ddd;
}






* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text{
   border-radius: 5px;
   border: 1px solid #39c; 
   background: rgb(240, 235, 235);
   border-radius: 5px 5px 5px 5px;
   color: #131212;
   font-size: 16px;
   padding: 5px; 
}




   .modal-content{
    align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
   
    position:relative;
    border-top: 40px solid #3876a0;
  
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
   
  
  }   

  .modal-header {
    border: 0px;
   
   } 
   
   .modal-footer{
     border: 0px;
   }







.legend{
  font-size: 16px;
}

div {
  margin: .2em 0;
}

.labelcedula{
  position: absolute;
  top: 78px;
  left: 19px;
 }   

  .cedula{
  position: absolute;
  top: 78px;
  left: 92px;
 }    

.btnbotones{
  position: absolute;
  top: 78px;
  left: 260px;
}

 .nombret{

  position: absolute;
  top: 32px;
  left: 25px;
} 
.nombre{
  /* background: #e9e5e5;; */
  background:  #b6bcc4;
  position: absolute;
  top: 32px;
  left: 106px;
  border: 0px;
}

.apellidot{
  position: absolute;
  top: 32px;
  left: 300px;
}
.apellido{
  background:  #b6bcc4;
  position: absolute;
  top: 30px;
  left: 390px;
  border: 0px;
}


.descripciont{
  position: absolute;
  top: 58px;
  left: 26px;
} 

.descripcion{
  background:  #b6bcc4;
  position: absolute;
  top: 56px;
  left:310px;
  border: 0px;
} 

.labelstock{
  position: absolute;
  top: 85px;
  left: 28px;
}
 .stock{
  background:  #b6bcc4;
  position: absolute;
   border: 0px;
   top: 85px;
   left: 90px;
} 

.labelcantidad{
  position: absolute;
  top: 108px;
  left:550px;
}
.cantidad{
  position: absolute;
  top: 105px;
  left:645px;
}
.btnGuardarSalida{
  position: absolute;
  top: 105px;
  left:755px;
}

.labelcedulat{
  background:  #b6bcc4;
  position: absolute;
  top: 112px;
  left: 17px;
 }   
.nombre_titular{
  background:  #b6bcc4;
  position: absolute;
  top: 113px;
  left:91px;
  border: 0px;

}
.btnclose{
  position: absolute;
  top: -8px;
  left: 358px;
  border: 0;
  border-radius: 10px;
 
}

.btncerrarbeneficiario{
  position: absolute;
  top: -8px;
  left: 618px;
  border: 0;
  border-radius: 10px;
 
}
#registro{
  position: absolute;
  top: 8px;
  left: 150px;
  border: 0;
  border-radius: 10px;
 
}



.botontitiular{
  border: 0;
  border-radius: 10px;
}
.botonfamiliar{
  border: 0;
  border-radius: 10px;
}

.botoncortesia{
  border: 0;
  border-radius: 10px;
}

.btnvencido{
  border: 0;
  border-radius: 10px;
}

.btnvigente{
  border: 0;
  border-radius: 10px;
}








#observacion{

  width: 482px;
  height: 83px;
  border-radius: 10px;
  color:  rgb(63, 25, 25); 
}




textarea::placeholder {
color:  rgb(63, 25, 25);
font-size: 1.2em;
font-style: italic;
}
th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

.btn-info {
  padding:0.10rem;


  }


.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(165, 164, 165);
  background-color: #fffefe;
  /* text-align: center; */
  font-size: 14px;
  outline: none; 
}