@media screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
    /* Estilos para escritorios */
}

#imagencentral {
    display: none;
    visibility: visible;
}

.cartelera {
    display: none
}

.form-login_imagen {
    display: none;
    visibility: visible;
}

.label-danger {
    background-color: #d9994f;
}

.label-success {
    background-color: #5cb85c;
}

.bodersueve {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    text-align: center;
    font-size: 14px;
    outline: none;
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 25%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.btn-xs {
    padding: 0.10rem;
}

.boton {
    width: 450px;
    background-color: #632432;
}

.panel-default {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

th,
td {
    padding: 2px;
    font-size: 13px;
}

thead {
    color: white;
    font-size: 14px;
}

.display {
    background-color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    top: 30px;
    align-content: center;
    width: auto;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    border: 2px double;
    color: #424344;
    font-size: 14px;
}

.modal {
    top: 0px;
    position: fixed;
    left: 5%;
}

.modal-content {
    width: auto;
    height: auto;
    position: relative;
    border-top: 40px solid #3876a0;
    border-bottom: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    font-size: 14px;
}

.modal-content_reversar {
    top: 10px;
    height: 30% !important;
    width: 26% !important;
    background: #b6bcc4;
    border-top: 4px solid #017bab;
    border-bottom: 40px solid #3876a0;
    color: #313e61;
    border-radius: 20px 10px 50px 30px;
    -webkit-border-radius: 20px 10px 50px 30px;
    -moz-border-radius: 20px 10px 50px 30px;
    border: 7px double;
}

.modal-dialog {
    width: auto;
    height: auto;
}

.modal-header {
    border: 0px;
}

.legend {
    width: auto;
    font-size: 14px;
}

div {
    margin: .2em 0;
}

.labelcedula {
    font-size: 14px;
    position: absolute;
    top: 78px;
    left: 19px;
}

.cedula {
    font-size: 14px;
    position: absolute;
    top: 78px;
    left: 92px;
    border: 1px solid rgb(209, 205, 207);
    outline: none;
}

.btnbotones {
    position: absolute;
    top: 78px;
    left: 280px;
}

.nombret {
    font-size: 13.5px;
    position: absolute;
    top: 32px;
    left: 25px;
}

.nombre {
    /* background: #e9e5e5;; */
    font-size: 14px;
    position: absolute;
    top: 32px;
    left: 106px;
    border: 0px;
}

.apellidot {
    font-size: 13.5px;
    position: absolute;
    top: 32px;
    left: 300px;
}

.apellido {
    font-size: 14px;
    position: absolute;
    top: 30px;
    left: 390px;
    border: 0px;
}

.descripciont {
    font-size: 13.5px;
    position: absolute;
    top: 200px;
    left: 26px;
}

.descripcion {
    font-size: 14px;
    position: absolute;
    top: 201px;
    left: 273px;
    border: 0px;
}

.labelstock {
    font-size: 13.5px;
    position: absolute;
    top: 248px;
    left: 28px;
}

.stock {
    font-size: 14px;
    position: absolute;
    border: 0px;
    top: 247px;
    left: 90px;
}

.labelcantidad {
    font-size: 13.5px;
    position: absolute;
    top: 249px;
    left: 145px;
}

.cantidad {
    font-size: 14px;
    position: absolute;
    top: 245px;
    left: 237px;
}

.btnGuardarSalida {
    position: absolute;
    top: 245px;
    left: 337px;
}

.labelcedulat {
    font-size: 14px;
    position: absolute;
    top: 116px;
    left: 20px;
}

.nombre_titular {
    font-size: 14px;
    position: absolute;
    top: 115px;
    left: 80px;
    border: 0px;
}

.btnclose {
    position: absolute;
    top: -8px;
    left: 358px;
    border: 0;
    border-radius: 10px;
}

.btncerrarbeneficiario {
    position: absolute;
    top: -8px;
    left: 618px;
    border: 0;
    border-radius: 10px;
}

#registro {
    font-size: 14px;
    position: absolute;
    top: 8px;
    left: 150px;
    border: 0;
    border-radius: 10px;
}

.btnCerrar_reversar {
    position: absolute;
    top: 10px;
    left: 460px;
    border: 0;
    border-radius: 10px;
}

.botontitiular {
    border: 0;
    border-radius: 10px;
}

.botonfamiliar {
    border: 0;
    border-radius: 10px;
}

.botoncortesia {
    border: 0;
    border-radius: 10px;
}

.btnvencido {
    border: 0;
    border-radius: 10px;
}

.btnvigente {
    border: 0;
    border-radius: 10px;
}

#observacion {
    position: absolute;
    top: -8px;
    left: 28px;
}

#activo {
    position: absolute;
    top: 180px;
    left: 28px;
}

#borrado {
    position: absolute;
    top: 180px;
    left: 48px;
}

#borrado_reverso {
    position: absolute;
    top: 187px;
    left: 110px;
}

#labelobservacion {
    position: absolute;
    top: -2px;
    left: 12px;
}

#observacion {
    position: absolute;
    top: 20px;
    left: 8px;
    width: 482px;
    height: 83px;
    border-radius: 10px;
    color: rgb(63, 25, 25);
}

textarea::placeholder {
    color: rgb(63, 53, 25);
    font-size: 1.2em;
    font-style: italic;
}

.imagencerrar {
    position: absolute;
    top: -50px;
    left: 390px;
}

.titular {
    font-size: 13px;
}

.familiar {
    font-size: 13px;
}

.cortesia {
    font-size: 13px;
}

#n1 {
    position: absolute;
    top: 40px;
    left: 490px;
}

#titulo {
    position: absolute;
    top: -35px;
    left: 270px;
    color: #fff;
}

.buscar {
    width: 400px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    font-size: 14px;
    outline: none;
}

.datosbeneficiario {
    width: 764px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
    font-size: 14px;
    outline: none;
    background-color: white
}

.sinborder {
    border: none;
}

.labelcronico {
    font-size: 13.5px;
    position: absolute;
    top: 223px;
    left: 28px;
}

.med_cronico {
    font-size: 13.5px;
    position: absolute;
    top: 222px;
    left: 210px;
    border: none;
}

.estatus_croni {
    font-size: 14px;
    border: none;
    color: black;
}


/* .detalles{
  font-size: 14px;
  position: relative;
  top: -230px;
  left: 525px;
  border: none;
  color: black;
} */

.btn-xs-xs {
    position: relative;
    top: 30px;
    left: 10px;
    padding: 0.40rem;
    background-color: rgb(105, 107, 107);
    border-color: rgb(64, 65, 65);
}


/* .labelbuscarfecha{
   

    left: 600;
  } */