@media screen and (max-width: 768px) {
	/* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	/* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
	/* Estilos para escritorios */
  }
  

/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
.cartelera{
	display:none
 }

#imagencentral{
	display: none;
	visibility: visible;
  }

  .form-login_imagen {
	display: none;
	visibility: visible;
  
  }
body{
	background-color: #632432;
	font-family: Arial;
}z

.boton{

        width: 450px;
        background-color: #632432;

        }

table{
	background-color: white;
	text-align: left;
	border: 1px solid;
	width: 100%;
}

th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}

.panel-default{
	text-align: center;
 margin-top: 60px;

}

.display{
  
	background-color: white;
  }