
@media screen and (max-width: 768px) {
	/* Estilos para dispositivos móviles */
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	/* Estilos para tablets */
  }
  
  @media screen and (min-width: 1025px) {
	/* Estilos para escritorios */
  }
  
#imagencentral{
	display: none;
	visibility: visible;
  }

  .form-login_imagen {
	display: none;
	visibility: visible;
  
  }
  .cartelera{
	display:none
 }


.panel-default{

	text-align: center;
  margin-top: 50px;
 display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80%  !important;
}  

th, td{
	padding: 2px;
  font-size:14px;
}

thead{
  background: linear-gradient(to right, #4a779c,#7e9ab1,#5f7a91);
	border-bottom: solid 1px #7d8180;
	color: white;
  font-size: 14px;
}

.display{
  
	background-color: white;
  }
tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #0f9b9b;
	color: white;
}





 
