@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

#imagencentral{
  display: none;

}
.form-login_imagen {
  display: none;
  visibility: visible;

}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

}

.panel-default{

margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
} 
z


tr:nth-child(even){
  background-color: white;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
} 




.modal-footer{
border: 0px;
}
/* 
*********************************************** */


input[type=text]{
 

  border-radius: 5px 5px 5px 5px;
  font-size: 13px;
  
  outline: none; 
  background-color: white;
  
  } 

  .sinborder{
    height: 30px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);

  }
/* .table{

left: 75%;
margin-left: -70px;
top: 50%;
margin-top: -300px;
} */


.cartelera{
  display:none
}
th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
.btn-xs{
  padding:0.10rem;
  }

  .btn.btn-xs{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  .display{
  
    background-color: white;
  }