

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.btn-xs{
  padding:0.10rem;
  }
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}


.cartelera{
  display:none
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}z

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}



.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;

} 


th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}

.display{
  
  background-color: white;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;
 

 }
  .modal-content{
    align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
   
    position:relative;
    border-top: 40px solid #3876a0;
    border-bottom: 40px solid #3876a0;
    border-radius: 10px 10px 10px 10px;
    color: #313e61;
    text-decoration: none;
    font-size: 14px;
  }     



/* 
*********************************************** */


 
 
fieldset {

  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  border: 2px double;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #101930;
}
div {
  margin: .2em 0;
}

.legend{

  width: auto;
  font-size: 16px;
}



 #btnAgregar_familiar{
 
 font-size: 12px;
}


#btnRegresar_hacia_titulares{
  font-size: 12px;
 
} 

 .labeltitular{
  color:rgb(34, 34, 34)
 }

.labelcedula{
 
  color:rgb(34, 34, 34)
} 

 #datos_nombre{
  position: relative;
  left: 10px;
  top: -5px;
 
} 
#cedula_trabajador{
  position: relative;
  left: 15px;
  top: -5px;
 
} 

input[type=text]{
  color:rgb(34, 34, 34);
  border-radius: 5px 5px 5px 5px;
  border: 0px;;
} 

.btn{
  font-size: 13px;
}
