

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

.col-md-8{
  border-top: 40px solid #3876a0;
   /* border-bottom: 30px solid #3876a0; 
  border-right:30px solid #697985; 
  border-left:30px solid #697985;;*/
  border-radius: 10px 10px 20px 10px; 
}



#cintillo{
  width: 50px;
}
#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}
.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  /* text-align: center; */
  font-size: 14px;
  outline: none; 
}
.bodersueve2{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 14px;
  outline: none; 
}
.efa{
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}

.label {

    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;
} 

th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
.btn-xs{
  padding:0.10rem;
  }
  
  .display{
  
    background-color: white;
  }

.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}      
 


.modal-header{
  border: 0px;

  }

.modal-footer{

  border: 0px;
}


/* 
*********************************************** */


 input[type=text]
 {
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0;
} 
.input:focus {
  color: #6c1aef;
}








#btnRegresar_hacia_titulares{
 
  position: absolute;
  top:197px;
  left: 662px;
}




input {
  margin: 5px;
  left: 10%;
}
/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.legend{

  width: auto;
  font-size: 16px;
}
fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}

.labelfecha{
  position: absolute;
  top:4px;
  left:500px; 
}

#fecha_del_dia{
  position: absolute;
  top: -0px;
  left:650px; 
  
  border:1px solid rgb(20, 20, 20);
outline: none; 
}



.content{
  width:170%;
  min-height:100vh;
  height:auto;
  display:flex;
  justify-content:flex-start;
}

.content-collapse{
  position: absolute;
  left: -0%;
  margin:-30px;
  padding:40px;
  width:1200px;
  height: auto;
  border:0px solid rgb(63, 62, 62);

}

.content-collapse section:nth-child(n){
  text-align:justify;
  position:relative;
  background-color:white;
}

.content-collapse section:nth-child(n) button{
  /* margin:5px 5px 5px 5px;
  padding:5px 10px 5px 10px;
  border-style:none;
  background:#787978;*/
  color:rgb(42, 66, 99); 
  cursor:pointer;
  border:0;
}
.texto_expandir{
  position:relative;
  overflow:hidden;
  max-height:0;
  transition: max-height 0.4s ease-out;
}
.abrir_cerrar{
  max-height:500px;
  transition: max-height 0.5s ease-in;

}

.col-md-9{
  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 20px 10px; 
}


/* 
.btn-expandir{
  border-radius: 50px 50px 50px 50px;
} */
#motivo_consulta{
  width: 50%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(124, 123, 123);
    background-color:rgb(250, 246, 246);
    outline: none; 
}