
/* #cajas1{
  display: none;
  visibility: visible;
} */
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para tablets */
}

@media screen and (min-width: 1025px) {
  /* Estilos para escritorios */
}

#imagencentral{
  display: none;
  visibility: visible;
}
.form-login_imagen {
  display: none;
  visibility: visible;

}
.cartelera{
  display:none
}

.efa{
  display: none;
  position: absolute;
  visibility: visible;
  left: 6%;
}

.bodersueve{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  /* text-align: center; */
  font-size: 14px;
  outline: none; 
}
.bodersueve2{
  border-radius: 5px 5px 5px 5px;
  border: 1px solid rgb(209, 205, 207);
  font-size: 14px;
  outline: none; 
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;

}

.panel-default{
	
 margin-top: 20px;
 display: flex;
  align-items: center;
  justify-content: center;
} 
.display{
  
  background-color: white;
}

th, td{
	padding: 2px;
  font-size: 13px;
}

thead{
  color: white;
  font-size: 14px;
}
.btn-xs{
  padding:0.10rem;
  }


.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal{
  position: fixed;  left:5%;


 }
 .modal-content{
  align-items: center;
  justify-content: center;
  width: auto;
  height:auto;
 
  position:relative;
  border-top: 40px solid #3876a0;
  border-bottom: 40px solid #3876a0;
  border-radius: 10px 10px 10px 10px;
  color: #313e61;
  text-decoration: none;
  font-size: 14px;
 

}      
 


.modal-header{
  border: 0px;

  }

.modal-footer{

  border: 0px;
}

/* 
*********************************************** */


 /* input[type=text]
 {
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0;
}  */

.sinborder{
  background:white;
  border-radius: 5px;
  border-color: #a2a5a7;
  color:  rgb(32, 32, 32);
  border: 0; 
}
.input:focus {
  color: #6c1aef;
}


.col-md-8{
  border-top: 40px solid #3876a0;
  border-radius: 10px 10px 20px 10px; 
}






#btnRegresar_hacia_titulares{
 
  position: absolute;
  top:197px;
  left: 662px;
}




input {
  margin: 5px;
  left: 10%;
}
/* 
//SIGNOS VITALES DEL PACCIENTE/// */

.legend{

  width: auto;
  font-size: 16px;
}
fieldset {
  top: 30px;
  align-content: center;
  width: auto;
  height: auto;
  border-radius: 10px 10px 10px 10px;;
  border: 2px double #80808094;
  padding: 0.5rem 1rem;
  color: #424344;
}

.labelfecha{
  position: absolute;
  top:4px;
  left:500px; 
}
#fecha_del_dia{
  position: absolute;
  top: -3px;
  left:665px; 
  
  border:1px solid rgb(20, 20, 20);
outline: none; 
}


.labelfechamgeneral{
  position: absolute;
  top:4px;
  left:630px; 
}
#fecha_asistencia_mgeneral{
  position: absolute;
  top: -0px;
  left:800px; 

}



.label_1ra_conslulta{
  position: absolute;
  top: 190px;
  left:630px; 

}

#fecha_1ra_consulta{
  position: absolute;
  top: 187px;
  left:795px; 

}




.titulo_psicologia{
  position: absolute;
  top:-30px;
  left:340px;
  color: rgb(247, 239, 239); 
}

.titulo_mgeneral{
  position: absolute;
  top:-30px;
  left:240px;
  color: rgb(247, 239, 239); 
}


#fecha_asistencia{
  position: absolute;
  top:0px;
  left:570px; 
}







  #impresiond{
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(209, 205, 207);
  }
  


.labelimpresiond{
font-size: 14px;
  }

  .btn.btn-xs{
    width: 23%;
    
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
  }



input[type=text]{
 
font-size: 14px;

} 

.btnagregar{
  position: absolute;
  left: 140px;
  font-size:11px;
  top: 438px;

}

.observacion{
 
  width: 465px;
  height: 100px;
  background-color: white;
  
}

.observacion:focus{
  
 
  flex-direction:column;
  border-radius: 12px;  
  outline: none; 
  background-color: white;
  padding: 0px;

}
.span{
  font-size: 12px;
}
input[type=text]
{
 background:white;
 border-radius: 5px;
 border-color: #a2a5a7;
 color:  rgb(32, 32, 32);
 border: 0;
} 
#motivo_consulta{
  width: 50%;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(124, 123, 123);
    background-color:rgb(250, 246, 246);
    outline: none; 
}